<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Calulate</title>
</head>
<body>
    <div class="en">
        <form action="/calcul" method="post">
  <div class="ina"> <div id="ketba" ><label class="l" id="d1" for="salery">Salery : </label>
    <input type="text" class="in" id="salery" name="salery" required>
    
  <div class="d2"><label for="day" id="d2" class="l">Day : </label>
    <input type="text" class="in" id="day" name="day" required></div> </div>

<button type="submit" id="sub">Submit</button>

      </form>
    <h3 id="re">Result: </h3>
     <div class="in" id="result"><div id="rs"><%= rss  %></div></div>
  </div>
         
</div>
    
</body>
</html>